body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
}

button {
    cursor:pointer
}

#add-project-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-section {
    width: 100%;
    max-height: 85%;
    overflow-y: scroll;
    
}
.project-section-div{
    background: #eaeaea;
    border: 1px solid #ccc;
    padding: 3px;
    box-sizing: border-box;
    max-height: 70vh;
    overflow-y: hidden;
    width: 25%;
    min-width: 320px;
    /* width: 22%; */
}
.stall{
    background: #eaeaea;
}
.future{
    background: rgb(255, 240, 240);
}
.present{
    background: rgb(254, 255, 240);
}
.past{
    background: rgb(240, 255, 240);
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow-wrap: break-word;
}
.project > * {
    margin:4px 0;
}

.issue {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

#issue-sections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.issue-section {
    /* background: #eaeaea; */
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 25%;
    min-width: 320px;
    max-height: 80vh;
}

.move-btn {
    margin-left: 3px;
    padding:0;
    height:18px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
}

.close-btn {
    float: right;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 50px;
}

.key-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#login {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#header-header {
    background-color: #eaeaea;
}
.hide-overflow{
    overflow: hidden !important;
}

.project:hover,
.issue:hover {
    /* background-color: rgb(245, 245, 245); */
    border:1px solid rgb(133, 133, 133)
}